@import 'breakpoints';

.progress-bar {
  background: var(--cf-discount-bar-color);
  display: grid;
  height: 10px;
  position: absolute;
  top: 25%;
  width: 100%;
}

.tier-marker {
  align-content: flex-start;
  display: grid;
  height: 10px;
  justify-content: end;
  position: relative;
  text-align: right;
}

.currency {
  font-weight: bold;
}

.tier-line {
  border-right: 1px solid #000;
  height: 20px;
  top: -10px;

  span {
    visibility: hidden;
  }
}

.tier-subtitle {
  font-weight: 400;
  text-wrap: pretty;

  i {
    vertical-align: middle;
  }
}

.no-display {
  // this overrides materiale-icons css
  display: none !important;
}

.progress-bar-overlay {
  background: var(--cf-black);
  height: 100%;
  position: absolute;
}

@include for_breakpoint('mobile') {
  .currency,
  .tier-subtitle {
    font-size: 20px;
  }
}
