.carousel {
  align-content: center;
  margin-left: 1rem;
  overflow: hidden;
  padding: 1.5rem 0;
}

.embla {
  align-self: center;
  overflow: hidden;
}

.embla__container {
  align-content: center;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}

.hasOverflow {
  display: inline;
  height: 100%;
  width: 1px;
  border: 1px inset;
  margin: 5px;
  border-right: 1px solid var(--cf-grey-border);
}

.embla__slide {
  align-content: center;
  justify-content: center;
}

.default-image {
  align-content: center;
  border: 1px dashed var(--cf-grey-border);
  display: flex;
  flex-wrap: wrap;
  height: 85px;
  justify-content: center;
  width: 85px;

  > .carousel-item {
    height: 53px;
    opacity: 30%;
    width: auto;
  }
}
