.carousel {
  align-content: center;
  margin-left: 1rem;
  overflow: hidden;
}

.embla {
  align-self: center;
  overflow: hidden;
}

.embla__container {
  align-content: center;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
}

.embla__slide {
  align-content: center;
  justify-content: center;
}

.default-image {
  align-content: center;
  border: 1px dashed var(--cf-grey-border);
  display: flex;
  flex-wrap: wrap;
  height: 85px;
  justify-content: center;
  width: 85px;

  > .carousel-item {
    height: 53px;
    opacity: 30%;
    width: auto;
  }
}
