.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--cf-white);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between
}
