@import 'breakpoints';
@import 'helpers';

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--cf-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 1.5rem;
}

.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--cf-gray);
  font-weight: 400;
  text-align: right;
  padding-left: 2rem;

  p {
    font-size: 16px;
    width: 100%;
  }

  .cov {
    padding-right: 2rem;
    font-size: 1.5rem;
    margin: 0;
  }
}

.cov-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  font-size: 0.8rem;
  color: var(--cf-gray);
  padding-left: 1rem;
}


.add-button {
  color: var(--cf-white);
  background-color: var(--cf-button-disabled);
  font-size: 1rem;
  border: none;
  padding: 0 2rem;
  min-width: max-content;
}

@include for_breakpoint('mobile') {
  .sticky-footer {
    grid-template-columns: 1fr;
  }

  .order-info {
    flex-direction: column;

    p {
      width: auto;
    }
  }

  .cov-info {
    flex-direction: row;
    padding: 0;
  }
}
