@import 'breakpoints';

.header {
  align-items: center;
  background-color: var(--cf-header-background-color);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 1.5rem;
  width: 100%;

  @include for_breakpoint('mobile') {
    grid-gap: 1rem;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.header-sticky {
  @include for_breakpoint('mobile') {
    position: sticky;
    /* Move the header up by half of its height */
    z-index: 1000;
    /* Ensure the header is above other content */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for the transform */
  }
}

.header-logo {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  .back-arrow {
    margin-right: 10px;
  }

  .back-anchor {
    align-items: center;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    outline: 0;
    text-decoration: none;
  }

  .logo {
    flex: none;
  }

  @include for_breakpoint('mobile') {
    justify-content: left;

    .logo {
      display: none;
    }
  }
}

.header-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  position: relative;

  @include for_breakpoint('mobile') {
    padding-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }

  @include for_breakpoint('mini') {
    left: 0;
  }

  h1 {
    margin-block-end: 0.5rem;
    text-align: center;
  }
}

.header-button {
  align-items: center;
  background-color: var(--cf-background-color);
  border: none;
  display: flex;
  font-size: 1rem;
  height: 52px;
  justify-content: center;
  padding: 0 1rem;
  width: max-content;

  @include for_breakpoint('mobile') {
    display: none;
  }

  i {
    vertical-align: middle;
  }
}

.header-button-mobile {
  display: none;

  @include for_breakpoint('mobile') {
    border-bottom: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    width: calc(100% + 3rem);
    grid-column: 1 / span 2;
    margin-left: -1.5rem;
  }
}

.header-progress-bar {
  position: relative;
  height: 100%;
  min-width: 185px;

  @include for_breakpoint('mobile') {
    width: 100%;
    margin-bottom: 2rem;
    grid-column: 1 / span 2;
  }
}
