@import "breakpoints";

.header {
  align-items: center;
  background-color: var(--cf-header-background-color);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1.5rem 1.5rem;
  width: 100%;

  .progress-bar {
    width: 33%;
  }
}

.header-logo {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-around;

  .back-arrow {
    margin-right: 10px;
  }

  .back-anchor {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: flex;
    outline: 0;
    text-decoration: none;
  }

  .logo {
    flex: none;
  }
}

.header-title {
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .header-button {
    align-items: center;
    background-color: var(--cf-background-color);
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    width: 100%;
    font-size: 1rem;
  }
}

.mobile-header-button {
  display: none;
}

@include for_breakpoint('mobile') {
  .header {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;

    .progress-bar {
      width: 100%;
      margin-bottom: 2rem;
      grid-column: 1 / span 2;
    }
  }

  .header-title {
    .header-button {
      display: none;
    }
  }

  .header-logo {
    justify-content: left;

    .logo {
      display: none;
    }
  }

  .mobile-header-button {
    align-items: center;
    background-color: var(--cf-background-color);
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    width: 100%;
    font-size: 1rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid lightgrey;
  }
}
