@import 'breakpoints';



.info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  margin-right: 4rem;
  padding: 4rem 1.5rem;

  .carousel {
    padding: 0;
    max-width: none;

    .embla {
      width: fit-content;
    }
  }

  .product-title {
    font-size: 24px;
  }
}

.info-card .embla__slide {
  background-color: var(--color2);
  border-radius: 4px;
  aspect-ratio: 3/4;
  overflow: hidden;
}

.embla__slide {
  position: relative;
  width: 80%;
  aspect-ratio: 1/1;
}

.carousel-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-modal-content {
  margin: 0;
}

.info-image-block {
  img {
    max-inline-size: 100%;
    object-fit: contain;
  }
}

.info-image-block-selected {
  position: relative;
  width: fit-content;
  aspect-ratio: 3/4;
  border-radius: 8px;
  background-color: var(--color2);
  overflow: hidden;
  img {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

.info-content {

  align-content: space-between;
  display: grid;
  grid-template-rows: auto;
  position: relative;

  h1 {
    margin-top: 0;
  }

  hr {
    border-top: 1px solid var(--cf-divider);
  }

  .subscription-button {
    flex: 1 1 0%;
    &.not-subscribed {
      flex: 1 1 0%;
      background-color: var(--cf-black);
      color: var(--cf-white);
      font-size: 16px;
      font-weight: 700;
      justify-content: center;
    }
  }
}

.icon-fill {
  color: var(--cf-header-background-color);
}

.star-rating {
  align-items: center;
  display: flex;
  margin-top: 1rem;

  span {
    margin-left: 5px;
  }
}

.alt-images {
  .embla__container {
    width: 100%;
  }
}

.alt-image-block {
  // height: 85px;
  width: 85px;
  aspect-ratio: 3/4;
  margin-top: 1rem;

  img {
    height: 100%;
    width: 100%;
  }

  button {
    z-index: 5;
  }

  .alt-image-button {
    background-color: transparent;
    border: none;
    color: transparent;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
  }
}

@include for_breakpoint('mobile') {
  .info-image-block > :first-child {
    display: none;
  }

  .info-card {
    grid-template-columns: 1fr;
    margin-right: 0;
    padding: 1rem 0;

    .product-description * {
      font-size: 1rem;
    }

    .carousel {
      margin-left: 0;

      .embla {
        margin: 0;
        padding: 0 24px;
        grid-row: 1;
        width: auto;
      }
      .embla__container {
        grid-auto-columns: 60%;
      }
    }

  }

  .info-content {
    padding: 0 1.5rem;
  }

  .alt-image-block {
    border: none !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-top: 0;
  }

  .alt-images {
    display: none;
  }
}

.loox-rating .loox-rating-content {
  svg.loox-icon {
    color: var(--cf-rating-star);
  }
}

.info-card-sticky-button {
  position: sticky;
  bottom: 0;
  padding-bottom: 16px;
  width: 100%;
}