@import 'breakpoints';

.product-modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.product-modal {
  background-color: var(--cf-background-color);
  margin: 1.5rem;
  position: relative;
  border-radius: 8px;
}

.product-modal-content {
  height: 100%;
  margin: 1.5rem;
  max-height: calc(100dvh - 3rem);
  overflow-y: auto;
}

.product-modal-close-button {
  background-color: black;
  color: white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;

  .material-icons {
    font-size: 1.25rem;
  }
}

.product-modal-close-mobile-button {
  display: none;
}

@include for_breakpoint('mobile') {
  .product-modal {
    margin: 0;
    width: 100%;
    max-width: 700px;
  }

  .product-modal-close-mobile-button {
    background-color: var(--cf-white);
    border: none;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
}
