@import 'breakpoints';

.product-card {
  align-items: start;
  display: grid;
  font-size: 18px;
  margin: auto;
  min-height: 300px;
  min-width: 250px;
  text-align: center;
}

.product-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
  height: auto;
}

.product-info {
  color: var(--cf-discount-price);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: 500;
  margin-bottom: 1rem;

  .discount-price {
    color: var(--cf-discount-price);
    padding-right: 0.5rem;
    text-decoration: line-through;
  }
}

.info-screen {
  background-color: #00000040;
  display: none;
  height: calc(100% - 4px);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .info-button {
    background-color: var(--cf-background-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

.mobile-info-button {
  border: none;
  background: transparent;
}

@include for_breakpoint('mobile') {
  .product-info {
    font-size: 16px;
  }

  button .info-screen {
    background-color: transparent;
    display: none;

    .info-button {
      background-color: transparent;
      color: transparent;
      height: 100%;
      width: 100%;
    }

    &.active {
      background-color: #00000040;
      display: block;

      .info-button {
        background-color: var(--cf-background-color);
        color: var(--cf-text);
        border: none;
        font-size: 16px;
        font-weight: 700;
        height: 52px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
      }
    }
  }
}

.product-image {
  background-color: transparent;
  position: relative;
  padding-bottom: 5px;

  &:hover {
    .info-screen {
      display: block;
    }
  }
}
