.subscription-button {
  align-items: center;
  background-color: var(--cf-increment-button-background-color);
  border: none;
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 0 10px;
  text-align: center;
  width: 100%;


  &.not-subscribed {
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  color: var(--cf-increment-button-text-color);
  width: 30px;
}

.out-of-stock {
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
}
