.subscription-button {
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-between;
  height: 40px;
  background-color: var(--cf-increment-button-background-color);
  padding: 0 10px;
  text-align: center;
  width: 100%;


  &.not-subscribed {
    background-color: white;
    justify-content: center;
    font-weight: 600;
    font-size: small;
  }
}

.icon-button {
  border: none;
  width: 30px;
  background-color: transparent;
  color: var(--cf-increment-button-text-color);
}

.out-of-stock {
  align-content: center;
  background-color: transparent;
  border: 1px solid black;
  font-size: small;
  height: 40px;
  font-weight: 600;
  padding: 0 10px;
  text-align: center;
  width: 100%;
}
