.subscription-button {
  align-items: center;
  background-color: var(--cf-black);
  border: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  border-radius: 4px;

  &.not-subscribed {
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  color: var(--cf-white);
  width: 52px;
  padding: 0;
}

.out-of-stock {
  background-color: transparent;
  border: 1px solid black;
  height: 52px;
  justify-content: center;
  text-align: center;
}
