@import "breakpoints";

.bundler-page {
  background-color: var(--cf-background-color);
  margin: 0 auto;
}

.bp-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-evenly;
  margin: auto;
}
