@import 'breakpoints';

.bundler-page {
  background-color: var(--cf-background-color);
  min-width: fit-content;
  padding-bottom: 10rem;
}

.bp-flex {
  background-color: var(--cf-background-color);
  column-gap: 1rem;
  display: grid;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1400px;
  padding: 1.5rem;
  row-gap: 1.5rem;
}

@include for_breakpoint('xl') {
  .bp-flex {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include for_breakpoint('desktop') {
  .bp-flex {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include for_breakpoint('tablet') {
  .bp-flex {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include for_breakpoint('mobile') {
  .bp-flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include for_breakpoint('mini') {
  .bundler-page {
    padding-bottom: 18rem;
  }

  .bp-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-grid {
  
}