@import "breakpoints";

.bundler-page {
  background-color: var(--cf-background-color);
  margin: 0 auto;
  min-width: fit-content;
}

.bp-flex {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  margin: auto;

  .product-card {
    flex-basis: 23%;
  }


  @include for_breakpoint('mobile') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
