:root {
  --cf-primary-color: #f9c1ad;
  --cf-secondary-color: #f9c1ad;
  --cf-background-color: #fdf5e9;
  --cf-header-background-color: #f9c1ad;
  --cf-discount-bar-color: #fce4db;

  --cf-button-disabled: #bcbcbc;
  --cf-button-disabled-text: #ffffff;
  --cf-increment-button-background-color: #000000;
  --cf-increment-button-text-color: #ffffff;
  --cf-add-to-button-background-color: #ffffff;
  --cf-add-to-button-text-color: #000000;

  --cf-grey-text: #bdbbbc;

}
