:root {
  --cf-background-color: #FDF5E9;
  ;
  --cf-header-background-color: #FFC1AD;
  ;
  --cf-discount-bar-color: #FFE4DB;
  ;

  --cf-button-disabled: #bcbcbc;
  --cf-button-disabled-text: #ffffff;
  --cf-increment-button-background-color: #222222;
  --cf-increment-button-text-color: #ffffff;
  --cf-add-to-button-background-color: #ffffff;
  --cf-add-to-button-text-color: #222222;

  --cf-grey-text: #bdbbbc;

}
