:root {
  --cf-background-color: #FDF5E9;
  --cf-header-background-color: #FFC1AD;
  --cf-discount-bar-color: #FFE4DB;

  --cf-button-disabled: #bcbcbc;
  --cf-white: #ffffff;
  --cf-black: #222222;
  --cf-grey-border: #CECECE;
  --cf-grey-text: #bdbbbc;
  --cf-divider: #DCD5CB;

}
