@use 'breakpoints' as *;
@use 'colors';

@use 'helpers';
@use 'components/modal';
@use 'bundler-page';
@use 'components/_delivery-cadence-card';
@use 'components/info-card';
@use 'components/BenefitTierProgressBar';
@use 'components/header';
@use 'components/product-card';
@use 'components/subscription-button';
@use 'components/footer';
@use 'components/carousel';
@use 'components/FooterCarousel';

html {
  height: 100%;
}

body {
  margin: 0;
  max-height: max-content;
  min-height: 100%;
  min-width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

button {
  font-family: var(--inter);
  font-size: 16px;
  height: 52px;
  cursor: pointer;
  color: black;
}

p {
  font-size: 18px;
}

@include for_breakpoint('mobile') {
  * {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}
