@use 'breakpoints' as *;
@use 'colors';

@use 'helpers';
@use 'components/modal';
@use 'bundler-page';
@use 'components/_delivery-cadence-card';
@use 'components/info-card';
@use 'components/BenefitTierProgressBar';
@use 'components/header';
@use 'components/product-card';
@use 'components/subscription-button';
@use 'components/footer';
@use 'components/carousel';
@use 'components/footer-carousel';

:root {
  --color1: #FFF2F0;
  --color2: #FFB3AB;
}

html {
  height: 100%;
}

body {
  margin: 0;
  max-height: max-content;
  min-height: 100%;
  min-width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

button {
  font-family: var(--inter);
  font-size: 16px;
  height: 52px;
  cursor: pointer;
  color: black;
}

p {
  font-size: 18px;
}

@include for_breakpoint('mobile') {
  * {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}


// FOOTER

.cf-footer {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
  background-color: #fff;
}

.cf-footer-atc {
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 16px;
}

.cf-carousel {
  overflow: hidden;
  transition: padding 250ms ease-in-out;
  &.shown {
    padding: 16px 16px 8px 16px;
  }
}
.cf-carousel-container {
  display: flex;
  gap: 16px;
}
.cf-carousel-product {
  position: relative;
  flex: 0 0 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 240px;
  padding: 4px;
  background-color: var(--color1);
  border-radius: 4px;
}

@media (max-width: 767.9px) {
  .cf-carousel-product {
    flex: 0 0 40%;
  }
}

.cf-carousel-product-image {
  position: relative;
  flex: 0 0 48px;
  aspect-ratio: 3/4;
  background-color: var(--color2);
  border-radius: 4px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

.cf-carousel-product-details {
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
}
.cf-carousel-product-title {
  font-size: 14px;
  text-transform: uppercase;
}
.cf-carousel-product-variant {
  font-size: 12px;
}

.cf-carousel-controls {
  display: flex;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding: 4px;
  gap: 4px;
  margin-top: 4px;
  background-color: #000;
  border-radius: 4px;
}

.cf-carousel-remove,
.cf-carousel-qty,
.cf-carousel-add {
  flex: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf-carousel-remove,
.cf-carousel-add {
  cursor: pointer;
}

.cf-footer-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  text-align: center;
}

.cf-footer-message {
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
  text-align: center;
}

.cf-btn-atc {
  font-size: 16px;
  line-height: 1;
  padding: 16px 24px;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  &:hover {
    color: #FFB3AB;
  }
  &:disabled {
    &:hover {
      color: #fff;
    }
    opacity: 0.5;
  }
}
@media (max-width: 767.9px) {
  .cf-btn-atc {
    width: 100%;
    padding: 16px;
  }
}

.cf-product-price {}
.cf-product-price-discounted {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
  margin-right: 1ch;
}
.cf-product-price-original {

}


