@use 'breakpoints' as *;
@use 'colors';

@use 'helpers';
@use 'components/modal';
@use 'bundler-page';
@use 'components/_delivery-cadence-card';
@use 'components/info-card';
@use 'components/BenefitTierProgressBar';
@use 'components/header';
@use 'components/product-card';
@use 'components/subscription-button';
@use 'components/footer';
@use 'components/carousel';
@use 'components/footer-carousel';

html {
  height: 100%;
}

body {
  margin: 0;
  max-height: max-content;
  min-height: 100%;
  min-width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

button {
  font-family: var(--inter);
  font-size: 16px;
  height: 52px;
  cursor: pointer;
  color: black;
}

p {
  font-size: 18px;
}

@include for_breakpoint('mobile') {
  * {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}


// FOOTER

.cf-footer {
  position: fixed;
  left: 0; bottom: 0;
  background-color: #fff;
}

.cf-footer-atc {
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 16px;
}

.cf-carousel {
  padding: 16px;
  background-color: lightgoldenrodyellow;
}
.cf-carousel-viewport {
  display: flex;
  gap: 16px;
  background-color: lightgreen;
}
.cf-carousel-product {
  position: relative;
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: paleturquoise;
}

.cf-carousel-product-image {
  position: relative;
  width: 48px;
  aspect-ratio: 3/4;
  border-radius: 4px;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    object-fit: cover;
  }
}

.cf-carousel-product-details {
  padding: 16px;
}
.cf-carousel-product-title {
  font-size: 14px;
}
.cf-carousel-product-qty {
  font-size: 12px;
}

.cf-carousel-remove {
  position: absolute;
  top: -5px; right: -5px;
  width: 20px; height: 20px;
  background: #000;
  color: #fff;
}



